{% extends 'base.html' %}
{% load static %}



{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  .dropdown-item:hover {
    color: rgb(226, 149, 5);
  }
  .modal{
      z-index: 9999;
      overflow: scroll;
    }
</style>


<div class="container-fluid">
  <div class="" style="top: 7rem; ">

    <div>


      <div class="row container-fluid" >
        <div class="col-md-3"><a class="text-white" style="font-size: 1.8rem;">All Retainer Invoices</a></div>
      </div><br><br><br>

      <div class="row mb-3 container-fluid">
        <div class="col-md-3">
          <input type="text" id="search" class="form-control bg-light text-dark" placeholder="Search.."
            autocomplete="off">
        </div>

        <div class="col-md-2">

          <div class="dropdown ">
            <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" id="sortbutton"
              aria-haspopup="true" aria-expanded="false" role="button">
              <i class="fas fa-sort m-1"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" href="{% url 'retainer_invoice' %}">All</a>
              <a class="dropdown-item" href="{% url 'retainer_invoice_sort_by_name' %}">Name</a>
              <a class="dropdown-item" onclick="sortTableTotal()">Retainer No</a>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <div class="dropdown d-flex">
            <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" role="button">
              <i class="fa fa-filter mt-1"></i>
            </a>
            <div class="dropdown-menu m-1">
              <a class="dropdown-item" href="{% url 'retainer_invoice' %}">All</a>
              <a class="dropdown-item" href="{% url 'filter_retainer_draft' %}">Draft</a>
              <a class="dropdown-item" href="{% url 'filter_retainer_sent' %}">Sent</a>
            </div>
            
            
            <a  style="color: white; height:35px;" id="exportBtn" class="btn btn-outline-warning text-warning mr-1 pt-2" >Export</a>
            <a  style="color: white; height:35px;" id="importBtn" data-toggle="modal" data-target="#import_modal" class="btn btn-outline-warning text-warning mr-1 pt-2" >Import</a>
            <a style="height: 5vh; margin-left: 2vh;" class="btn btn-outline-warning text-right px-3 py-2" role="button"
              style="margin-left: 5px;" href="{% url 'add_invoice' %}">
              <i class="fa fa-plus">New</i>
            </a>
            
          </div>
        </div>
      </div>

      <div class="row container-fluid" style="overflow: auto;">
        <div class="col-md-12 col-md-11 col-lg-11">
          <div class="table-responsive">
            <table class="table align-top text-white" style="cursor: pointer;" id="myTable">
              <thead>
                <tr>
                  <th style="text-align: center;">DATE</th>
                  <th style="text-align: center;">RETAINER NUMBER</th>
                  <th style="text-align: center;">CUSTOMER NAME</th>
                  <th style="text-align: center;">CUSTOMER MAIL ID</th>
                  <th style="text-align: center;">AMOUNT</th>
                  <th style="text-align: center;">STATUS</th>
                  <th style="text-align: center;">BALANCE</th>
                </tr>
              </thead>
              <tbody id="table">
                {% for i in invoices %}
                <tr id="tr_data" class="clickable-row">
                  <td class="align-top "><a class="text-light" href="{% url 'invoice_view' i.id %}">{{i.retainer_invoice_date}}</a></td>
                  <td class="align-top text-center"><a class="text-light "
                      href="{% url 'invoice_view' i.id %}">{{i.retainer_invoice_number}}</a></td>
                  <td class="align-top "><a class="text-light"
                      href="{% url 'invoice_view' i.id %}">{{i.customer_name1}}</a></td>
                  <td class="align-top "><a class="text-light"
                      href="{% url 'invoice_view' i.id %}">{{i.customer_mailid}}</a></td>
                  <td class="align-top "><a class="text-light"
                      href="{% url 'invoice_view' i.id %}">₹{{i.total_amount}}</a></td>
                  <td class="align-top ">
                    <a class="text-light" href="{% url 'invoice_view' i.id %}">
                      {% if i.is_sent %}
                      Sent
                      {% else %}
                      Draft
                      {% endif %}
                    </a>
                  </td>
                  <td class="align-top "><a class="text-light" href="{% url 'invoice_view' i.id %}">₹{{i.balance}}</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ................................... import modal ................. -->
<!-- Add this modal at the end of your retainer_invoices.html -->

<div class="modal fade" id="import_modal"  role="dialog" 
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="import_modal_label">Import Retainer Invoices</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="importForm">
          <div class="form-group">
            <label for="importFile">Choose file</label>
            <input type="file" class="form-control-file" id="importFile" accept=".xlsx, .xls">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="importData()">Import</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
  document.getElementById("exportBtn").addEventListener("click", function () {
  const Table = document.getElementById("myTable");
  const ws = XLSX.utils.table_to_sheet(Table);
  ws['!cols'] = [{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 },{ wch: 15 }];
  ws['!rows'] = [{ hpt: 30 }];
  const wb = XLSX.utils.book_new();
  XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
  XLSX.writeFile(wb, "retainer_invoice.xlsx"); 
});

</script>
<script>
  function importData() {
    var fileInput = document.getElementById('importFile');
    var file = fileInput.files[0];

    if (file) {
      var formData = new FormData();
      formData.append('file', file);

      $.ajax({
        url: '{% url "import_retainer_invoices" %}',  // Update the URL according to your Django project
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          // Handle success response, if needed
          console.log('Import successful:', data);
          $('#import_modal').modal('hide');
        },
        error: function (error) {
          // Handle error response, if needed
          console.error('Import error:', error);
        }
      });
    }
  }
</script>

<script>
  var $rows = $('#table tr');
  $('#search').keyup(function () {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.hide().filter(function () {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return ~text.indexOf(val);
    }).show();
  });


  function sortTableTotal() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[1];
        y = rows[i + 1].getElementsByTagName("td")[1];
        if (x.innerHTML > y.innerHTML) {
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  

        

{% endblock %}